  <body>
    <div class="profile-form">


      <form id="profileForm" class="form-group" action="/profiili" method="POST">
        <h3>{{user.nimi}}</h3>
        

  <div class="input-group">
  <label class="labelP">
    Pituus:
    <input type="number" min="50" step="any" max="230" name="pituus" value="{{user.pituus}}" />
  </label>
  </div>
  <div class="input-group">
  <label class="labelP">
    Paino:
    <input type="number" min="30" step="any" max="230" name="paino" value="{{user.paino}}" />
  </label>
  </div>
  <div class="input-group">
  <label class="labelP">
    Leposyke:
    <input type="number" min="30" step="any" max="100" name="leposyke" value="{{user.leposyke}}" />
    <img src="/kuvat/question.png" alt="kysymysmerkki" title="Leposyke on sydämesi lyöntien määrä minuutissa, kun olet täysin levossa.">
  </label>
</div>
<div class="input-group">
  <label class="labelP">
    Maksimisyke:
    <input type="number" min="120" step="any" max="220" name="maksimisyke" value="{{user.maksimisyke}}" />
    <img src="/kuvat/question.png" alt="kysymysmerkki" title="Maksimisyke on suurin mahdollinen syke, jonka sydämesi voi saavuttaa rasituksen aikana.">
  </label>
</div>
<div class="input-group">
  <label class="labelP">
    B-HbA1c -arvo:
    <input type="number" min="20" step="any" max="100" name="BHbA1c" value="{{user.BHbA1c}}" />
    <img src="/kuvat/question.png" alt="kysymysmerkki" title="B-HbA1c (glykoitunut hemoglobiini) on verikoe, joka kertoo verensokerin keskiarvon viimeisten 2-3 kuukauden ajalta.">
  </label>
</div>
<h4>Lisää Kubios -tiedot</h4>
<div class="input-group">
  <label class="labelP">
    Sähköposti
    <input type="email" name="kubiosEmail" placeholder="kubios@email.com" />
  </label>
</div>
<div class="input-group">
  <label class="labelP">
    Salasana
    <input type="password" name="kubiosPassword" placeholder="************" />
  </label>
</div>

  <button type="submit" id="submitButton">Tallenna muokatut tiedot</button>
</form>

  <div class="footer1" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>

{{!-- <div id="loader" class="loader">Päivitetään tietoja...</div>
<div id="message" style="display: none;">Tiedot päivitetty.</div> --}}




{{!-- <form >
    <p>Nimi: {{user.nimi}} <button id="editProfile"></p>
    <p>Syntymäaika: {{user.syntymaAika}} <button id="editProfile"></p>
    <p>Pituus: {{user.Pituus}} <button id="editProfile"></p>
    <p>Paino: {{user.paino}} <button id="editProfile"></p>
    <p>Sukupuoli: {{user.sukupuoli}} <button id="editProfile"></p>
    <p>Leposyke: {{user.leposyke}} <button id="editProfile"></p>
    <p>Maksimisyke: {{user.maksimisyke}} <button id="editProfile"></p>
    <p>B-HbA1c -arvo: {{user.BHbA1c}} <button id="editProfile"></p>
    <button type="button">Muokkaa tietoja</button>
</form> --}}


    {{!-- <form >
      <label for="username">Käyttäjänimi:</label>
      <input type="text" id="username" name="username" placeholder="Anna uusi käyttäjänimi" required>
      
      <label for="email">Sähköposti:</label>
      <input type="email" id="email" name="email" placeholder="Anna uusi sähköpostiosoite" required>
  
      <label for="password">Salasana:</label>
      <input type="password" id="password" name="password" placeholder="Anna uusi salasana" required>
  
      <label for="confirm-password">Vahvista salasana:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Vahvista uusi salasana" required>
    <label for="bio">Bio:</label>
      <textarea id="bio" name="bio" rows="4"></textarea>
        <button type="submit">Tallenna muutokset</button>
    </form> --}}
    </div>
  </body>
