{{#if stories}}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Aika</th>
                        <th>mmol/l</th>
                        <th>Tuntemus</th>
                        <th>G HH</th>
                        <th>Liikunta</th>
                        <th>Kommentti</th>
                        <th>Toiminnot</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each stories}}
                    <tr>
                        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</td>
                        <td>{{mmolPerL}} </td>
                        <td>{{feeling}}</td>
                        <td>{{GHH}}</td>
                        <td>{{sport}} {{sportDuration}} min</td>
                        <td>{{body}}</td>
                        <td>
                            <a href="/stories/edit/{{_id}}" class="btn btn-primary btn-sm mr-2" data-story-id="{{_id}}"><i class="fas fa-edit"></i> Muokkaa</a>
                                 <form action="/stories/{{_id}}" method="POST" id="delete-form">
                                 <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm btnDel" data-story-id="{{_id}}"><i class="fas fa-trash"></i> Poista</button>
                                </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{else}}
<div class="alert alert-warning" role="alert">
    Mittaustuloksia ei löydy
</div>
{{/if}}

<style>
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
    .table-striped tbody tr:nth-child(even) td {
        background-color: #f2f2f2;
    }
</style>



<script>
    // Add event listeners to edit and delete buttons
    const editButtons = document.querySelectorAll('.btn-edit');
    const deleteButtons = document.querySelectorAll('.btnDel');
    editButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const storyId = button.dataset.storyId;
            window.location.href = `/stories/edit/${storyId}`;
        });
    });
    deleteButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const storyId = button.dataset.storyId;
            if (confirm('Haluatko varmasti poistaa tämän mittauksen?')) {
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = `/stories/${storyId}`;
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const csrfInput = document.createElement('input');
                csrfInput.type = 'hidden';
                csrfInput.name = '_csrf';
                csrfInput.value = csrfToken;
                form.appendChild(csrfInput);
                const methodInput = document.createElement('input');
                methodInput.type = 'hidden';
                methodInput.name = '_method';
                methodInput.value = 'DELETE';
                form.appendChild(methodInput);
                document.body.appendChild(form);
                form.submit();
            }
        });
    });
</script>