{{#if patients}}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Sähköposti</th>
                        <th>Syntymäaika</th>
                        <th>Pituus</th>
                        <th>Paino</th>
                        <th>Sukupuoli</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each patients}}
                    {{#if this.nimi}}
                    <tr>
                        <td><a href="/potilas/{{this._id}}">{{this.nimi}}</a></td>
                        <td>{{this.email}}</td>
                        <td>{{formatDate this.syntymaAika 'MMMM Do YYYY'}}</td>
                        <td>{{this.pituus}} cm</td>
                        <td>{{this.paino}} kg</td>
                        <td>{{this.sukupuoli}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{else}}
<div class="alert alert-warning" role="alert">
    Potilaita ei löydy
</div>
{{/if}}

<script> src= "/js/patients.js"</script>
