<div class="row">
    <div class="col s12 m6">
        <div class="card story">
            <div class="card-content">
                <h5>{{formatDate date 'D.M.YYYY, HH:mm'}}</h5>
                <table>
                    <tbody>
                        <tr>
                            <th>mmol/l</th>
                            <td>{{story.title}}</td>
                        </tr>
                        <tr>
                            <th>Tuntemus</th>
                            <td>{{story.feeling}}</td>
                        </tr>
                        <tr>
                            <th>P채iv채n ravinto</th>
                            <td>{{story.GHH}} G HH</td>
                        </tr>
                        <tr>
                            <th>P채iv채n liikuntasuoritus</th>
                            <td>{{story.sport}} - {{story.title}} minuuttia</td>
                        </tr>
                        <tr>
                            <th>Kommentti</th>
                            <td>{{{story.body}}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
